* {
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;

    overflow: hidden;
    position: relative;
}

.body {
    height: 100%;
    display: flex;
    /*设置主轴方向*/
    flex-direction: column;
    /*交叉轴的对齐方式*/
    align-items: center;

    background-color: rgba(245, 245, 245, 1);
}

.logo {
    margin-top: 105px;

}

.logo-img {
    width: 67px;
    height: 67px;
}

.logo-text {
    margin-top: 13px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
    color: rgba(255, 108, 114, 1);
    font-family: "微软雅黑", monospace;
}

.login-form {
    width: 340px;
    height: 206px;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.form-container {
    width: 300px;
    height: 30px;
    border-bottom: 2px solid rgba(255, 108, 114, 1);

    display: flex;
    flex-direction: row;
    align-items: end;
}

.form-container input {
    width: 250px;
    margin-left: 5px;
    height: 30px;
    /*内边框*/
    border: 0;
    /*外边框*/
    outline: 0;
    background-color: rgba(245, 245, 245, 1);

}

.form-container label{
    margin-bottom: 4px;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}

.input-username {
    margin-top: 40px;
}

.input-password {
    margin-top: 28px;
}

.input-text {
    margin-top: 48px;
    width: 300px;
    /*border: 1px solid red;*/
    text-align: right;
    font-size: 14px;
}

.input-text a {
    color: black;

}

.quick-login{
    margin-top: 17px;
    width: 340px;
    text-align: right;
    font-size: 14px
}

.quick-login span{
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
    text-decoration: underline;
    color: rgba(255, 108, 114, 1);
}
.login{
    margin-top: 130px;
}
.login button{
    width: 338px;
    height: 48px;
    border-radius: 24px;
    border: 0;
    background: linear-gradient(180deg, rgba(255, 108, 114, 1) 0%, rgba(255, 131, 67, 1) 100%);
    box-shadow: 0 3px 6px  rgba(166, 3, 0, 0.3),inset -1px -1px 0  rgba(255, 255, 255, 1),inset 1px 1px 0  rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 600;
    color: rgba(255,255,255,1);
}

.circle{
    position: absolute;
}
.circle1{
    width: 93px;
    height: 93px;
    border-radius: 50%;
    background: linear-gradient(177.56deg, rgba(255, 108, 114, 0.36) 0%, rgba(255, 131, 67, 0.36) 100%);
    top: 65px;
    left: -60px;
}

.circle2{
    width: 338px;
    height: 338px;
    border-radius: 50%;

    background: linear-gradient(142.13deg, rgba(255, 108, 114, 1) 0%, rgba(255, 131, 67, 1) 100%);
    top:-249px;
    right:-94px;

}

.circle3{
    width: 384px;
    height: 384px;
    border-radius: 50%;
    bottom:-300px;
    left:-154px;
    background: linear-gradient(142.13deg, rgba(255, 108, 114, 0.3) 0%, rgba(255, 131, 67, 0.3) 100%);
}

.circle4{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    bottom:-200px;
    right:-80px;
    background: linear-gradient(177.56deg, rgba(255, 108, 114, 1) 0%, rgba(255, 131, 67, 1) 100%);
    box-shadow: -5px 5px 10px  rgba(166, 3, 0, 0.3);
}